@charset "utf-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", Verdana, Arial, '微软雅黑', '宋体';
  font-size: 0.875em;
}

.header {
  background-color: #363636;
  color: #fff;
  height: 4em;
  width: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 4em;
  position: fixed;
}

.main {
  background-color: #f5f5f5;
  padding-top: 4em;
  min-height: 100vh;
}

.content {
  width: 85em;
  min-width: 45em;
  margin: 0 auto;
}

.content .plate + .plate {
  margin-top: 1em;
}

.plate {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(54 58 80 / 32%);
}

.plate > div {
  padding: 1em;
}

.plate .title {
  padding: 0.5em 0 0.5em 0;
}

.plate h2 {
  font-family: '微软雅黑';
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}

span {
  color: #00c5cd;
}

span:hover {
  cursor: pointer;

}

.text-center {
  text-align: center;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-value {
  margin-top: 0.4em;
  color: #888;
  text-align: center;
}

.safely {
  color: #00cd66 !important;
}

.unsafely {
  color: #ffb90f !important;
}

.title-data {
  display: flex;
  flex-direction: row;
}

.total {
  color: #888;
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  font-size: 18px;
}

.operate {
  overflow: hidden;
}

.input-key-wrapper {
  float: left;
}

.search-wrapper {
  float: left;
  margin-left: 2em;
}

.create-wrapper {
  float: right;
}

.operate-border {
  border: 1px solid #9c9c9c;
}

input {
  outline: 0;
}

select {
  outline: 0;
}

.input-key {
  width: 24em;
  height: 2em;
  padding: 7px 9px 7px 9px;
}

.operate-button {
  width: 4em;
  height: 2em;
  line-height: 100%;
  padding: 7px 0px 7px 0px;
}

button:hover {
  cursor: pointer;
}

/**dialog core start*/

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
}

.dialog:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dialog-inner {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  white-space: normal;
  background: #fff;
}

/**dialog core end*/

.dialog-main {
  height: 100%;
  padding: 2em 2em 2em 2em;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
}

.dialog-title {
  font-weight: 700;
}

.dialog-close:hover {
  cursor: pointer;
}

.commit {
  text-align: center;
}

.answer {
  display: flex;
  justify-content: space-around;
}

.dialog-button {
  background-color: #3f3f3f;
  color: #fff;
  width: 6em;
  height: 2.5em;
  line-height: 100%;
  padding: 7px 0px 7px 0px;
}

.radio-list {
  padding-top: 1em;
}

.radio-label {
  display: inline-block;
  vertical-align: middle;
}

.radio-align {
  vertical-align: middle;
}

.input-list {
  padding: 1em 0 1em 0;
}

.input-list .fixed-input-space + .fixed-input-space {
  margin-top: 1em;
}

.input-label {
  color: rgba(0, 0, 0, 0.4);
  width: 7em;
  display: inline-block;
  vertical-align: middle;
}

.input-unit {
  width: 17em;
  height: 2.5em;
  padding: 7px 9px 7px 9px;
  vertical-align: middle;
}

.description {
  width: 28em;
  padding: 1em 0 1em 0;
}

.desc-text {
  color: #000 !important;
  cursor: auto !important;
}

.block-list {
  width: 56em;
  padding: 1em 0 1em 0;
}

.ban-remove {
  color: #8a8a8a !important;
  cursor: auto !important;
}

.show {
  margin-top: 0.5em;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid #aaa;
}

table th {
  background-color: #3f3f3f;
  border: 1px solid #3f3f3f;
  color: #fff;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

table td {
  border: 1px solid #aaa;
  padding: 9px 9px 9px 9px;
}

table tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.fixed-column-width {
  width: 4.5em;
}